<%- include('layout/nav.ejs') %>
<%- include('layout/header.ejs') %>
<br />
  <h2 class="text-left text-m-start fixed-center">Selamat Bergabung Dengan Kami</h2>
<br />
  <p
  class="container square-box d-flex justify-content-left align-items-center"
  >
  Marilah Kita Belajar Bersama, Tunjukan Kepada Semuanya Bahwa Kita Bisa & Jadikanlah Ilmu Sebagai Bekal Di Masa Depan
  </p>

<%- include('layout/footer.ejs') %>
